*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #24272e;

}
header{
    background-color: #04941c;;
    padding: 20px;
}
header >h1{
    text-align: center;
    color:white;
    font-family:  sans-serif;
}
.result{
    position: relative;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color:#24272e ;
    font-size: 32px;
    padding: 15px 20px;
    font-family: sans-serif;
}
